@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');


.header{
    width: 100%;
    height: 100%;
    color: #252525;
    margin-bottom: 4.3em;
    background-color: #f1f1f0;

}

.nav-grid{
    display: grid;
    text-align: center;
    grid-template-areas: 
    "searchbar . . searchbartext . profilelogin logoutregister"
    "politics society maintitle maintitle maintitle art culture";
    gap: 0;
    grid-template-columns: .6fr .6fr .2fr 2fr .2fr .6fr .6fr;
    grid-template-rows:  50px 130px;
    position: relative;
    width: 100%;
}


.searchbar-block{
    position: fixed;
    z-index: 20;
    /* z-index: 20; */
}

.background::after{
    content: "";
    position: fixed;
    width: 105vw;
    top: 0;
    left: -5vw;
    height: 70px;

    z-index: 10;
}
.searchbar {
    grid-area: searchbar;
    width: fit-content;
    height: fit-content;
    position: relative;
    font-size: 17.6px;
    z-index: 20;
}
.searchbar-text{
    grid-area: searchbartext;
    margin-top: 8.7px;
    padding-left: 15px;
    font-size: .7em;
    text-align: center;
    z-index: 20;
}

.profile-login{
    grid-area: profilelogin;
    font-size: 17.6px;
    margin-top: 20.7px;
    margin-right: 150.7px;
    text-transform: uppercase;
    position: fixed;
    z-index: 20;
}
.logout-register{
    grid-area: logoutregister;
    font-size: 17.6px;
     margin-top: 20.7px;
     text-transform: uppercase;
     position: fixed;
     z-index: 20;
    /* border-right: 1px solid black; */
}

.log{
    position: relative;
}

.log::after{
    content: "";
    position: absolute;
    top: 15px;
    right: 108%;
    height: 1.5px;
    width: 170px;
    background-color: #252525;
}
.prof{
    position: relative;
}
.prof::after{
    content: "";
    position: absolute;
    top: 15px;
    right: 108%;
    height: 1.5px;
    width: 170px;
    background-color: #252525;
}

.reg{
    position: relative;
}
.reg::after{
    content: "";
    position: absolute;
    top: 15px;
    right: 108%;
    height: 1.5px;
    width: 60px;
    background-color: #252525;
}

.out{
    border: none;
    background: none;
    border-radius: 0;
    position: relative;
    cursor: pointer;
}
.out::after{
    content: "";
    position: absolute;
    top: 15px;
    right: 108%;
    height: 1.5px;
    width: 60px;
    background-color: #252525;
}
.icon-nav{
    margin-right: 10px;
}

.politics{
    grid-area: politics;
    text-transform: uppercase;
  
}
.society{
    grid-area: society;
    text-transform: uppercase;
}

.main-title{
    grid-area: maintitle;
    position: relative;
    font-family: 'Marcellus SC', serif;
    font-size: 2.7vw;
    white-space: nowrap;
    letter-spacing: -.5px;
    z-index: 20;
    transition: all .9s;
    
}

.title-header{
   
}
/* .main-title::after{
    content: "";
   position: absolute;
   bottom: 37px;
   left: 5%;
   width: 90%;
   height: 2px;
    background-color: #252525;   
    z-index: -100; 
   
}
.main-title::before{
   content: "";
   position: absolute;
   bottom: 33px;
   left: 5%;
   width: 90%;
   height: 2px;
    background-color: #252525;    
    z-index: -100; 
} */
.main-title2{
    grid-area: maintitle;
    /* border-top: 1px solid black;
    border-bottom: 1px solid black; */
    font-family: 'Marcellus SC', serif;
    font-size: 4.05vw;
    white-space: nowrap;
    letter-spacing: -.5px;
    z-index: 20;
    transition: all .4s;
}

.move-category{
    position: fixed;
    top: 135px;
    right: 0;
}

.move-title{
    color: transparent;
    /* animation: name duration timing-function delay iteration-count direction fill-mode;a */
}

.move-title::after{
    animation: moveTitle .6s forwards 1 linear;
    content: "HOME";
    color: #252525;
    /* animation: name duration timing-function delay iteration-count direction fill-mode;a */
}

@keyframes moveTitle{
    0%{
        position: fixed;
        top: -30px;
        right: 23%;
        font-size: 4.2vw;
    }
    25%{
        position: fixed;
        right: 17%;
        font-size: 3.5vw;
        top: 5px;
    }
    50%{
        position: fixed;
        right: 11%;
        font-size: 2.9vw;
        top: 45px;
    }
    75%{
        position: fixed;
        right: 5%;
        font-size: 2.3vw;
        top: 75px;
    }
    100%{
        position: fixed;
        right: 0%;
        font-size: 30px;
        padding: 0 40px;
        top: 105px;
    }
}

.art{
    grid-area: art;
    text-transform: uppercase;
    /* border: 1px solid black; */
}
.culture{
    grid-area: culture;
    text-transform: uppercase;
    font-weight: 800;
    /* border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black; */
}
.searchbar-text, .politics, .society, .art, .culture, .searchbar, .profile-login, .logout-register, .main-title, .scroll{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.politics, .society, .searchbar{
   justify-self: flex-start;
   
}


.art, .culture, .profile-login, .logout-register{
   justify-self: flex-end;  
}



.h2-nav{
    font-weight: 800;
    font-size: 20px;
    letter-spacing: -1px;
     font-family: 'Marcellus SC', serif;
    
     text-align: center;
    height: 50px;
    width: 130px;
    border-radius: 30px; 
    border: 1px solid black;
    padding: 10px;
    cursor: pointer; 
    letter-spacing: 1px;
    box-shadow: 2px 2px 0px 0px #000000;
    transition: all .4s;
}
.category-color{
    background-color: #252525 !important;
    color: #f1f1f0;
}
.h2-nav:hover{
    animation: shaking .4s linear 2;
}

@keyframes shaking {
  0% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: translate(2px, 2px) rotate(5deg); }
  50% { transform: translate(0, 0) rotate(0eg); }
  75% { transform: translate(-2px, 2px) rotate(-5deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}
/* .best-rated{

}
.authors{

}
.latest{

} */



.link{
    text-decoration: none;
    color: #252525;
}

.scroll{
    justify-self: flex-end;
    position: fixed;
    margin-top: 229px;
    z-index: 100;
    cursor: pointer;
}

.keepScrolling{
    width: 70px;
    height: 70px;
    background-color: #252525;
    border-radius: 50%;
    position: relative;
    
}
.keepScrolling::after{
    font-size: .7em;
    content: "";
    position: absolute;
    top: 6px;
    right: 23%;
    width: 1.5px;
    height:  100px;
    background-color: #252525;
    color: #252525;
   filter: invert(1);
    mix-blend-mode: difference;
}
.keepScrolling::before{
    font-size: .76em;
    content: "keep scrolling";
    position: absolute;
    color: #252525;
    top: 34px;
    right: 0;
    height: 1.5px;
    width:  150px;
    background-color: #252525;
   filter: invert(1);
    mix-blend-mode: difference;
}

/* back home button */
.backHome{
    width: 70px;
    height: 70px;
    background-color: #252525;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    
}
.backHome::after{
    content: "";
    position: absolute;
    top: 5px;
    right: 23%;
    width: 1.5px;
    height:  100px;
    background-color: #252525;
    color: #252525;
   filter: invert(1);
    mix-blend-mode: difference;
    writing-mode: vertical-lr;
    text-orientation: upright;
}
.backHome::before{
    font-size: .92em;
    content: "GO BACK";
    position: absolute;
    color: #252525;
    top: 34px;
    right: 0;
    height: 1.5px;
    width:  150px;
    background-color: #252525;
   filter: invert(1);
    mix-blend-mode: difference;
}


/* SEARCHBAR */


.input-nav{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 17.6px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    padding-right: 40px;
    padding-top: 20px;
    color:#252525;
    background-color: transparent;
}
.input-nav::placeholder{
    color: #252525;
    font-weight: 100;
}
.searchbar:hover input-nav{
    width: 350px;
    background: #3b3640;
    border-radius: 10px;
}
.btn-search{
  width: 50px;
  height: 50px;
  border-style: none;

  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  top: 7.5px;
  right: 10px;
  color:#252525;
  background-color:transparent;
  pointer-events: painted;  
}
.btn-search:focus ~ .input-nav{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid #252525;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-nav:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 2px solid #252525;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
