@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.main-content{
    width: 100%;
    display: grid;
    grid-template-areas: 
    "uno dos tres tres cuatro"
    "cinco seis siete ocho nueve"
    "diez once doce trece catorce"
    "quince dieciseis diecisiete diecisiete diecinueve"
    "veinte veintiuno  veintidos veintitres veinticuatro"
    "veinticinco veintiseis veintisiete veintiocho veintinueve"
    "treinta trintauno treintados treintados treintatres"
    /* "treintacinco treintaseis treintasiete treintaocho treintanueve"
    "cuarenta cuarentauno cuarentados cuarentatres cuarentacuatro"
    "cuarentacinco cuarentseis cuarentasiete cuarentaocho cuarentanueve" 
    "cincuenta cincuentauno cincuentados cincuentatres cincuentacuatro"  */

    ;
    grid-template-columns: repeat(5, 1fr) ;
    grid-template-rows: repeat(6, 1fr);
    position: relative;
    
}

.main-content div {
    height: 150px;
    /* border: 1px solid black; */
}

.uno{
 grid-area: uno;
 display: flex;
 flex-direction: column;
 position: relative;
 /* border-bottom: 1px solid #252525;
 border-right: 1px solid #252525;
 border-top: 1px solid #252525; */

}
/* .uno::after{
 content: "";
 position: absolute;
 background-color: #252525;
 width: 200%;
 height: 1px;
 bottom: 0;

}
.uno::before{
 content: "";
 position: absolute;
 background-color: #252525;
 height: 100%;
 width: 1px;
 right: 0;

} */

.dos{
    grid-area: dos;
    font-weight: 200;
    letter-spacing: 0.4px;
    line-height: 20px;
    font-size: 13px;
    text-align: right;
    padding:3px 0 3px 28%;
     /* border-bottom: 1px solid #252525;
     border-top: 1px solid #252525; */
     /* border-right: 10px solid #252525; */

}
.tres{
    grid-area: tres;
    position: relative;
}
.rose{
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translate(-50%,-50%) rotate(43deg);
}
.newspaper-image{
    float: right;
    height: 443px;
}
.cuatro{
    grid-area: cuatro;

}
.cinco{
    grid-area: cinco;
    /* border-right: 1px solid #252525; */
   
    /* border-left: 10px solid #252525; */
}
.seis{
    grid-area: seis;
    font-weight: 200;
    letter-spacing: 0.4px;
    line-height: 20px;
    font-size: 13px;
    text-align: right;
    padding: 17px 0 17px 15%;
    /* color: white;
    background-color: #252525; */
}
.siete{
    grid-area: siete;
}
.ocho{
    grid-area: ocho;

}
.nueve{
    grid-area: nueve;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 93px;
}
.diez{
    grid-area: diez;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 17px 15% 0px 0;
     /* border-top: 1px solid #252525;
     border-right: 1px solid #252525;
     border-bottom: 1px solid #252525; */
    /* color: white;
    background-color: #252525; */
}
.diez p{
    font-weight: 200;
    letter-spacing: 0.4px;
    line-height: 20px;
    font-size: 13px;
}
.once{
    grid-area: once;
    /* border-top: 1px solid #252525;
    border-bottom: 1px solid #252525; */
}
.doce{
    grid-area: doce;
    position: relative;
}
.rose2{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) rotate(43deg);
}
.trece{
    grid-area: trece;
}

.catorce{
    grid-area: catorce;

}
.quince{
    grid-area: quince;
}
.dieciseis{
    grid-area: dieciseis;
    display: flex;
    justify-content: center;
    align-items: center;

}
.dieciseis div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    /* font-family: 'Anton', sans-serif; */
    width: 100%;
    height: 80px;
    border-radius: 50px;
    border: 2.5px solid black;

}
.diecisiete{
    grid-area: diecisiete;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 22px;
}



.dieciocho{
    grid-area: dieciocho;

}
.diecinueve{
    grid-area: diecinueve;

}
.veinte, .veinticinco, .treinta{
    grid-area: veinte;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.veinte p{   
    text-align: center;
    margin-left: -30px;
    font-size: 1.2em; 
    font-weight: 600;
    letter-spacing: .4px;
    transform: rotate(-90deg);
}
.veinticinco p{   
    text-align: center;
    margin-left: -40px;
    font-size: 1.2em; 
    font-weight: 600;
    letter-spacing: .4px;
    transform: rotate(-90deg);
}
.treinta p{   
    text-align: center;
    margin-left: -22px;
    font-size: 1.2em; 
    font-weight: 600;
    letter-spacing: .4px;
    transform: rotate(-90deg);
}


.veintiuno{
    grid-area: veintiuno;
    
}
.wall-image{
    
    width: 100%;
}
.veintidos{
    grid-area: veintidos;
     position: relative;
}

.rose3{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) rotate(43deg);
}

.veintitres{
    grid-area: veintitres;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.redonda-tres{
    width: 50px;
    height: 50px !important;
    border: 1px solid #252525;
    border-radius: 50%;
    position: relative;
}
.redonda-tres2{
    width: 50px;
    height: 50px !important;
    border: 1px solid #252525;
    border-radius: 50%;
    position: relative;
    margin-right: 30px;
}
.redonda-tres::after{
    position: absolute;
    content: "";
    top: -1.3px;
    left: -30px;
    width: 110px;
    height: 1px;
    background-color: #252525;
}
.redonda-tres2::after{
    position: absolute;
    content: "";
    top: -1.3px;
    left: -30px;
    width: 110px;
    height: 1px;
    background-color: #252525;
}
.veinticuatro{
    grid-area: veinticuatro;

}
.veinticinco{
    grid-area: veinticinco;

}
.veintiseis{
    grid-area: veintiseis;

}
.veintisiete{
    grid-area: veintisiete;
   

}
.veintiocho{
    grid-area: veintiocho;
    padding:3px 0 3px 28%;
    font-weight: 200;
    letter-spacing: 0.4px;
    line-height: 20px;
    font-size: 13px;
    text-align: right;

}
.veintinueve{
    grid-area: veintinueve;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 93px;

}
.treinta{
    grid-area: treinta;

} 
.treintauno{
    grid-area: trintauno;

}
.treintados{
    position: relative;
    grid-area: treintados;
    padding-bottom: 7px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.rose4{
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translate(-50%,-50%) rotate(43deg);
}

.palettes{
    width: 5.1%;
    height: 25px;
    border-left: .7px solid #252525;
    border-top: .7px solid #252525;
    border-bottom: .7px solid #252525;
}
.palettes:nth-child(1){
    background-color: #FFFFFF;
}
.palettes:nth-child(2){
    background-color: #E9E9E9;
}
.palettes:nth-child(3){
    background-color: #D3D3D3;
}
.palettes:nth-child(4){
    background-color: #BEBEBE;
}
.palettes:nth-child(5){
    background-color: #A8A8A8;
}
.palettes:nth-child(6){
    background-color: #929292;
}

.palettes:nth-child(7){
    background-color: #7C7C7C;
}
.palettes:nth-child(8){
    background-color: #666666;
}
.palettes:nth-child(9){
    background-color: #515151;
}
.palettes:nth-child(10){
    background-color: #3B3B3B;
}
.palettes:nth-child(11){
    background-color: #252525;
}
.palettes:nth-child(12){
    background-color: #0e0e0e;
    border-right: .7px solid #252525;
}

.treintatres{
    grid-area: treintatres;

}
.treintacuatro{
    grid-area: treintacuatro;

}
.treintacinco{
    grid-area: treintacinco;

}
.treintaseis{
    grid-area: treintaseis;

}
.treintasiete{
    grid-area: treintasiete;

}
.treintaocho{
    grid-area: treintaocho;
}


.treintanueve{
    grid-area: treintanueve;


}
.cuarenta{
    grid-area: cuarenta;

}
.cuarentauno{
    grid-area: cuarentauno;

}
.cuarentados{
    grid-area: cuarentados;

}
.cuarentatres{
    grid-area: cuarentatres;

}
.cuarentacuatro{
    grid-area: cuarentacuatro;

}
.cuarentacinco{
    grid-area: cuarentacinco;
   
}
.cuarentseis{
    grid-area: cuarentseis;
    
}
.cuarentasiete{
    grid-area: cuarentasiete;
    
}
.cuarentaocho{
    grid-area: cuarentaocho;
    
}
.cuarentanueve{
    grid-area: cuarentanueve;
    
}
.cincuenta{
    grid-area: cincuenta;    
}
.cincuentauno{
    grid-area: cincuentauno;    
}
.cincuentados{
    grid-area: cincuentados;    
}
.cincuentatres{
    grid-area: cincuentatres;    
}
.cincuentacuatro{
    grid-area: cincuentacuatro;    
}



/* .bottom-nav{
    display: flex;
    justify-content: flex-start;
    gap: 23px;
    align-content: center;
    flex-direction: column;
    margin-top: 26px;
} */
.best-rated, .authors, .latest{
    color: #252525;
    border: none;
    margin: 10px;
    padding: 4px 12px;
    font-weight: 200;
    letter-spacing: 0.4px;
    font-size: 13px;
    white-space: nowrap;
    cursor: pointer;
    text-decoration: none;
    transition: all .4s;
    text-align: left;
}

.best-rated{
    margin-left: 26px;
    position: relative;
}
.best-rated::after{
    content: "";
    position: absolute;
    top: 11px;
    right: 97%;
    height: 1px;
    width: 2vw;
    background-color: #252525;
}

.authors{
    margin-left:26px;
    position: relative;
}
.authors::after{
    content: "";
    position: absolute;
    top: 11px;
    right: 97%;
    height: 1px;
    width: 2vw;
    background-color: #252525;
}
.latest{
    margin-left: 26px;
    position: relative;
}
.latest::after{
    content: "";
    position: absolute;
    top: 11px;
    right: 98%;
    height: 1px;
    width: 2vw;
    background-color: #252525;
}
.best-rated:hover{
    transform: scale(1.1);
}
.authors:hover{
    transform: scale(1.1);
}
.latest:hover{
    transform: scale(1.1);
}

